src/*.exe
src/wookiecoind
src/wookiecoin
src/test_wookiecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.wookiecoin

# Compilation and Qt preprocessor part
*.qm
wookiecoin-qt
Wookiecoin-Qt.app

# Unit-tests
Makefile.test
wookiecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

